body {
    background-color: lightblue;
  }
  
/* css for header begins */

  .header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(200, 209, 250);
    margin: 0 10%;
    padding: 10px;
    padding-bottom: 100px;
  }
  
  .left, .right {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .left {
    margin-left: 10%;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .right {
    margin-right: 10%;
  }

  .sop {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 0px;
  }
  
.sea {
    width: 70px;
    border-radius: 25px;
    margin-bottom: 40px;
}

  .bt {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  button {
    max-width: 20%;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .ep {
    font-size: 20px;
    margin-top: 1px;
  }

  .cars {
    max-height: 250px;
  }

  /* CSS FOR GALLERY BEGINS */

  .title {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
  }
  
  .gi {
    max-width: 150px;
    border-radius: 20px;
  }

  .gallery {
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 300px;
  }


